<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= message %>
  </p>
  <a href="/category">Categorias</a>
  <a href="/product">Produtos</a>
</body>

</html>