<!DOCTYPE html>
<html lang="pt-br">
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<head>
  <title>
    Categorias
  </title>
</head>

<body>
  <h1 class="titlePage">
    Bem-vindo as Categorias
  </h1>
  <div class="tableContainer">
    <table>
      <tr>
        <th>Id</th>
        <th>Valor</th>
        <th>Deletar</th>
      </tr>
      <% for(var i=0; i<categories.length; i++) {%>
        <tr>
          <td>
            <%= categories[i].id %>
          </td>
          <td>
            <%= categories[i].value %>
          </td>
          <td><a href="/category/category-delete/<%= categories[i].id %>">X</a></td>
        </tr>
        <% } %>
    </table>
  </div>
  <div class="formContainer">
    <h2>Cadastrar nova categoria</h2>

    <form action="/category/add" method="post">
      <div>
        <input type="text" name="name" placeholder="Digite um nome" />
      </div>
      <input type="submit" value="Cadastrar">
    </form>
  </div>
  <a href="/">Home</a>
</body>

</html>