<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>
    <%= message %>
  </p>
  <p>
    tabela com as categorias disponíveis no sistema
    possuindo 3 colunas, sendo elas: Chave, Valor e ---Deletar Nas linhas
    depois do cabeçalho, a coluna Chave mostra o valor do atributo chave
    daquela categoria, e a coluna Valor, mostra o atributo valor
  </p>
  <a href="/">Home</a>
</body>

</html>