<!DOCTYPE html>
<html lang="pt-br">
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<head>
  <title>
    Categorias
  </title>
</head>

<body>
  <h1 class="titlePage">
    Bem-vindo as Categorias
  </h1>
  <div class="tableContainer">
    <table>
      <tr>
        <th>Id</th>
        <th>Valor</th>
        <th>Deletar</th>
      </tr>
      <% for(var i=0; i<categories.length; i++) {%>
        <tr>
          <td>
            <%= categories[i].id %>
          </td>
          <td>
            <%= categories[i].value %>
          </td>
          <td><a href="/category/category-delete/<%= categories[i].id %>">X</a></td>
        </tr>
        <% } %>
    </table>
  </div>
  <div class="formContainer">
    <h2>Cadastrar nova categoria</h2>

    <form action="/category/add" method="post">
      <div>
        <label for="name">Nome:</label><br />
        <input type="text" name="name" placeholder="Digite um nome" />
      </div>
      <div class="exibir">
        <ul id="lista"></ul>
        <input type="text" id="nome" value="insira o nome" onfocus="this.value='';" />
        <button onClick="adicionar()">Adicionar</button>
      </div>
      <input type="submit" value="Cadastrar">
    </form>
  </div>
  <a href="/">Home</a>
</body>
<script>
  var customFields = [];

  for (var i = 0; i < customFields.length; i++) {
    var lis = document.createElement('li');
    lis.innerHTML = customFields[i];
    lista.appendChild(lis);
  }

  //função para adicionar mais um nome à lista
  function adicionar() {
    var coleta = document.getElementById("nome").value;
    var nomeDig = document.createElement('li');

    customFields.push(coleta);
    nomeDig.innerHTML = coleta;
    lista.appendChild(nomeDig);
  }
</script>

</html>