<!DOCTYPE html>
<html lang="pt-br">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<head>
  <title>
    Categorias
  </title>
</head>

<body>
  <h1 class="titlePage">
    Bem-vindo as Categorias
  </h1>
  <div class="tableContainer">
    <table>
      <tr>
        <th>Id</th>
        <th>Valor</th>
        <th>Campos Personalizados</th>
        <th>Deletar</th>
      </tr>
      <% for(var i=0; i<categories.length; i++) {%>
        <tr>
          <td>
            <%= categories[i].id %>
          </td>
          <td>
            <%= categories[i].value %>
          </td>
          <td>
            <%= categories[i].personalizado %>
          </td>
          <td>
            <div id="idapagar" type="button" data-toggle="modal" data-target="#awesome-modal" class="delete"
              class="nome" onclick="" apagarcategoria()>
              <%= categories[i].id %>
            </div>
          </td>
        </tr>
        <% } %>
    </table>






  </div>
  <div class="formContainer">
    <h2>Cadastrar nova categoria</h2>

    <form action="/category/add" method="post">
      <div>
        <label for="name">Nome:</label><br />
        <input type="text" name="name" placeholder="Digite um nome" />
      </div>

      <div class="categorias">
        <div class="campPersonalizado">
          <div>
            <label for="personalizado">Campo Personalizado</label>
            <input type="text" id="personalizado" />
          </div>
          <a onclick="salvar()"><i class="fa-solid fa-floppy-disk"></i> Salvar</a>
          <input type="hidden" name="personalizado" class="personalizado" value="">
        </div>
        <textarea name="cat-personalizado" id="catP" disabled></textarea>
      </div>


      <input type="submit" value="Cadastrar">
    </form>
  </div>
  <a href="/">Home</a>
</body>
<script>
  let personal = [];
  const salvar = () => {
    let idCategoria = document.querySelector('#personalizado');
    if ((valorPersonalizado.value).length > 0) {
      let textArea = document.querySelector('#catP');
      textArea.value += '- ' + valorPersonalizado.value + '\n';
      personal.push(valorPersonalizado.value);
      valorPersonalizado.value = '';
      insertPersonalizado.value = personal;
    }
  };

  const apagarcategoria = () => {
    const id = document.getElementById("idapagar").value

    const a = document.querySelector("#pegarlink");
    a.href = "/category/category-delete/" + id;
  }


</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>

<!-- MODAL -->
<section id="awesome-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header border-0 rounded-0">
        <h5 class="modal-title">Tem certeza que deseja deletar</h5>
        <button type="button" class="close cp" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body pt-0">
        <div class="col mt-sm-4">
          <button type="button" data-dismiss="modal" class="btn btn-block btn-secondary rounded-0">Cancel</button>
        </div>
        <div class="col mt-2 mt-sm-4">
          <button id="confirm-btn" type="button" class="btn btn-block btn-primary rounded-0">
            <a id="pegarlink" href="/category/category-delete/1">Apagar</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

</html>